# Скопируйте в .env и при необходимости измените.
SERVICE_NAME={{.ServiceName}}
HTTP_ADDR=:8080
ENV=local
LOG_LEVEL=info
{{- if .HasPG }}
DATABASE_URL=postgres://{{.ServiceName}}:{{.ServiceName}}@localhost:5432/{{.ServiceName}}?sslmode=disable
{{- end }}
{{- if .HasKafka }}
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
{{- end }}
